<!DOCTYPE html>
<html>
  <head>
    <title>JJK UT Density Tracker</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu" rel="stylesheet">
  </head>
  <body bgcolor="#FFFFFF">
    <h>UT Density Tracker</h>
    <p id='my_building'>Start by selecting the building you would like to view</p>
    <form action="#" method="POST">
      <button class="buttonB" type="submit" name="buttonBldg" value="PCL">
        <!--<input type="submit" name="buttonBldg" value="PCL">-->
        <img src="https://cdn0.iconfinder.com/data/icons/cosmo-education/40/326512-books_2-512.png" height ="300" width="285" id='PCL' />
      </button>
      <button class="buttonB" type="submit" name="buttonBldg" value="GDC">
        <!--<input type="submit" name="buttonBldg" value="GDC">-->
        <img src= "https://images.vexels.com/media/users/3/158483/isolated/preview/68984377806c969d9504f0faaaede75f-computer-silhouette.png" height="300" width="285" id='GDC'/>
      </button>
      <button class="buttonB" type="submit" name="buttonBldg" value="SAC">
        <!--<input type="submit" name="buttonBldg" value="SAC">-->
        <img src="https://www.iconpacks.net/icons/1/free-building-icon-1062-thumb.png" height ="300" width="285" id='SAC' />
      </button>
    </form>
  </body> <!--onclick="window.location.href='/floors.html'; -->
</html>