<!DOCTYPE html>
<html>
  <head>
    <title>{{content}} Floors</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu" rel="stylesheet">
  </head>
    <body bgcolor="#fff">
    <h>{{content}}</h>
    <h>Floors</h>
    <p>Which floor would you like to view?</p>
    <br>
    <br>
    <button class="buttonF" onclick="window.location.href='/status.html'">Floor 1</button>
    <button class="buttonF" onclick="window.location.href='/status.html'">Floor 2</button>
    <button class="buttonF" onclick="window.location.href='/status.html'">Floor 3</button>
    <button class="buttonF" onclick="window.location.href='/status.html'">Floor 4</button>
    <button class="buttonF" onclick="window.location.href='/status.html'">Floor 5</button>


