<!DOCTYPE html>
<html>
  <head>
    <title>{{content}} Floors</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu" rel="stylesheet">
  </head>
    <body bgcolor="#fff">
      <div>
        <h class="top">{{content}}</h>
        <h>Floors</h>
        <p>Which floor would you like to view?</p>
    </div>
    <br>
    <br>
    <form action="#" method="POST">
    {% for i in range(floorNums) %}
      <button class="buttonF" onclick="window.location.href='/status.html'" name="levelBtn" value="{{i+1}}">Floor {{i+1}}</button>
    {% endfor %}
    </form>
    </body>


