<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu" rel="stylesheet">
  </head>
    <body bgcolor="#fff">
    <h>Current Status</h>
    <p>This is the current busyness status </p>
    <br>

    <p>If you would like to contribute data please enter the information below:</p>

  <form>
    <label for="fname">On a scale of 1-10, how busy is it on this floor?</label><br>
    <input type="text" id="fname" name="fname"><br>
  </form>
