body{
	margin:0;
	padding:0;
	text-align:center;
}
h1{
  font-family: Calibri;
  color: #fff;
  text-shadow: 2px 2px 5px #8df;
}

h{
  font-size: 72px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

p{
  font-size: 36px;
  font-family: sans-serif;
  color: #7b7b7b;
}

form{
  font-size:24px;
  font-family: sans-serif;
  color: black;
}

.buttonB{
  background: #e7e4dc;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer; 
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.buttonB:hover{
  background: #bf5700;
  color: #fff;
}
.buttonB:active{
   Background: #bf5700;
  color: #fff;
  transition: all 0.5s;
}

.buttonF{
  background: #e7e4dc;
  border: none;
  padding: 30px 60px;
  border-radius: 15px;
  cursor: pointer; 
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.buttonF:hover{
  background: #bf5700;
  color: #fff;
}
.buttonF:active{
   Background: #bf5700;
  color: #fff;
  transition: all 0.5s;
}